#modal{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .close{
        visibility: visible;
    }

    .visible{
        visibility: visible;
    }
    #model-click{
    position: absolute;
    background-color: rgba(128,128,128,0.7);
    height: 100%;
    width: 100%;
    z-index: -1;
    }
    
    .modal-content-holder{
        position: relative;
        min-height: 300px;
        min-width: 300px;
        max-width: 60%;
        background-color: #6ba7bf;
        border-radius: 15px;
        z-index: 99;
        padding: 10px;
        
        .header{
            font-family: Albertbold;
            color: #181818;
            font-size: larger;
        }
        .labels{
            font-family: Albertnorm;
        }
        .box{
            width: 80%;
            height: 25px;
        }
        #logIn{
            width: 35%;
            background-color: #66c0e3;
            border: none;
            height: 40px;
            border-radius: 20px;
            margin-top: 20px;
            font-family: Albertnorm;
            cursor: pointer;
        }
        #logIn:hover{
            background-color: #025374;
        }
        .close-button{
            position: absolute;
            top: 0;
            padding: 10px;
            cursor: pointer;
            right: 0;
            
            
        }

        .close-cancel{
            position: absolute;
            bottom: 5%;
            right: 50%;
            padding: 5px 15px;
            background-color: aquamarine;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}

